body{
    margin:0;
    font-family: 'Poppins', sans-serif;
}
img{
    max-width:100%;
}
h1{
    font-size:50px;
}
h2{
    font-size:40px;
}
section{
    height:500px;
    padding-bottom:180px;
}
.top-banner{
    background-image:url("images/top-banner.png");
    background-repeat:no-repeat;
}
.half-width{
    width:40%;
    float:left;
    margin-left:5%;
    padding-left:2%;
}
.orange-color{
    color:orange;
}
.link-btn{
    background:linear-gradient(orange,tomato);
    padding:5px 20px;
    text-decoration:none;
    border-radius:10px;
    color:white;
}
.dream-area{
    background-image:url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position:right;
}
.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position:left;
}
.single-experience{
    box-shadow:10px 10px 40px gray;
    border-radius:5px;
    background-color:#fff;
    height:70%;
}
#full-stack{
    border-left:7px solid;
    border-image:linear-gradient(180deg, tomato,orange);
    border-image-slice:1;
}
#baby-dev{
    border-left:7px solid;
    border-image:linear-gradient(180deg,blue,cyan);
    border-image-slice:1;
}
footer p{
    text-align:center;
    font-size:14px;
}